.container {
  background-color: white;
}

.container:hover .image {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 10px solid black;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  transform: translateY(-50%);
  transform-origin: left;
}

.container:hover .arrow {
  transform: scaleX(1.2); /* Stretch horizontally */
  transform-origin: left; /* Keep the left side fixed */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}
.container:hover .text {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px;
  transition: text-decoration 0.5s ease-in-out;
}
